<div class="form-group"
    [class.has-success]="hasSuccess()"
    [class.has-error]="hasError()"
>
  
  <!-- LABEL DESCRIÇÃO -->
  <label class="control-label" 
         for="inputSuccess">
    
    <!-- <i class="fa fa-check"></i> -->
    {{label}}
  </label>
  
  <!-- CONTEUDO PASSADO COMO PARAMETRO -->
  <ng-content></ng-content>
  
  <!-- SPAN VALIDO -->
  <span class="help-block" *ngIf="hasSuccess()">
    <i class="fa fa-check"></i>{{successMessage}}
  </span>
  
  <!-- SPAN INVALIDO -->
  <span class="help-block" *ngIf="hasError()">
    <i class="fa fa-remove"></i>{{errorMessage}}
  </span>
</div>